/* css reset */
* {margin:0;padding:0;list-style:none;vertical-align:baseline;}
*, *:before, *:after {box-sizing: inherit;}
a {color: black; cursor: pointer;}

h3 {
  font-size: 1.5em;
}

.container__main {
  display: flex;
  width: 80vw;
  height: auto;
  margin: 50px auto;
  flex-direction: column;
  align-items: center;
}

.container__deck {
  padding-top: 20px;
  width: 500px;
}

.deck__line__1 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  border: 1px solid black;
  height: auto;
  padding: 10px;
}

.deck__line__1 > * {
  border: 1px solid black;
  height: 100px;
}

.deck__line__2 {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  border: 1px solid black;
  height: auto;
  padding: 10px;
}

[data-card-deck] {
  background-size: cover;
}

.deck__line__2 > * {
  /*border: 1px solid black;*/
  height: 80px;
}

.cards {
  cursor: pointer; 
  width: 60px;
}

.container__cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.elixir__counter {
  border: 1px solid black;
  width: 500px;
}

.elixir__container {
  padding: 20px 10px;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.elixir__container > * {
  height: 20px;
  background-color: khaki;
  border: 1px solid black;
}

.elixir {
  background-color: #d120d6;
}
